<!DOCTYPE html>
<html lang="tr">
<head>
<meta charset="utf-8">
    <meta name="description" content="">
    <title>Ganyan Tüyo - Banko Tahminler - Altılı Tahminleri - At Yarışı Tahminleri - Banko Tüyolar - Altılı Tüyoları - At Yarışı Tüyoları</title>
    <!-- css -->
    <link href="/css/style.css" rel="stylesheet">
    <link href='//fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
    <!-- jQuery -->
    <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
    <!-- our JavaScript -->
    <script src="/js/application.js"></script>
</head>
<body>

    <!-- logo -->
    <div class="logo">
        Ganyan<span class="number">Tüyo</span>
    </div>

    <!-- navigation -->
    <div class="navigation">
        <a href="/">ANASAYFA</a>
        <a href="/subpage">YAZARLAR</a>
        <a href="/subpage/deeper">TAHMİNLER</a>
        <a href="/songs">BAŞARILI TAHMİNLER</a>
        <a href="/songs">ABONELİK</a>
        <a href="/songs">İLETİŞİM</a>
    </div>

    <!-- main content, will be injected via Twig -->
    {% block content %} {% endblock %}

</body>
</html>